schema/istlab.dtd

<!--
 -
 - Document Type Description for the ELTRUN groups, projects, and members
 -
 - (C) Copyright 2004 Diomidis Spinellis.
 -
 - $Id$
 -
-->

<!-- Import modular XHTML -->
<!ENTITY % xhtml-ruby.module "IGNORE" >
<!ENTITY % xhtml-bidi.module "IGNORE" >
<!ENTITY % xhtml-ssismap.module "IGNORE" >
<!ENTITY % xhtml-csismap.module "IGNORE" >
<!ENTITY % xhtml11.mod PUBLIC "-//W3C//ENTITIES XHTML 1.1//EN"
		 "xhtml11.dtd" >
%xhtml11.mod;

<!ELEMENT eltrun (group_list, member_list, project_list)>

<!-- Group list elements {{{1 -->
<!ELEMENT group_list (group*)>

<!ELEMENT group (grouptitle,shortname,description,addlinks?,logo?)>
<!ATTLIST group
	id		ID	#REQUIRED
	director	IDREF	#REQUIRED>

<!ELEMENT grouptitle (#PCDATA)>
<!ELEMENT addlinks (#PCDATA | %Flow.mix;)*>
<!ELEMENT logo (#PCDATA)>

<!-- Project list elements {{{1 -->
<!ELEMENT project_list (project*)>

<!ELEMENT project (shortname,projtitle,startdate?,enddate,description,web_site?)>
<!ATTLIST project
	id		ID	#REQUIRED
	contact		IDREF	#IMPLIED
	sc		IDREF	#IMPLIED
	pm		IDREF	#IMPLIED
	group		IDREFS	#REQUIRED>

<!ELEMENT shortname (#PCDATA)>
<!ELEMENT projtitle (#PCDATA)>
<!ELEMENT web_site (#PCDATA)>

<!-- Member list elements {{{1 -->
<!ELEMENT member_list (member*)>

<!ELEMENT member (givenname,surname,shortcv,web_site?)>
<!ATTLIST member
	id		ID	#REQUIRED
	group		IDREFS	#REQUIRED>

<!ELEMENT givenname (#PCDATA)>
<!ELEMENT surname (#PCDATA)>
<!ELEMENT shortcv (#PCDATA | %Flow.mix;)*>


<!-- Shared elements {{{1 -->
<!ELEMENT description (#PCDATA | %Flow.mix;)*>
<!-- Dates are in ISO format (yyyymmdd)
  - As an extension, the XSLT supports a 00 month or date for unknown values
  -->
<!ELEMENT startdate (#PCDATA)>
<!ELEMENT enddate (#PCDATA)>
